.dropdown-menu {
    display: flex;
    gap: 50px;
    font: normal 2em arial;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.505);
}
.dropdown-menu li a {
    color: red;
}
.dropdown-menu li {
    list-style: none;
    transition: .5s;
}
.dropdown-menu li:hover {
    background-color: black;
    border-radius: 5px;
    transform: scale(120%);
}
.dropdown-menu li:hover a{
    color: white; 
    
}
.dropdown-menu a {
    text-decoration: none;
}
.dropdown-submenu {
    display: none;
}
.dropdown-menu li:hover > .dropdown-submenu {
    display: block;
    text-align: center;
    background-color: black;
    border-radius: 0px 0px 5px 5px;
}